<footer>
  <h4>My Socials Media</h4>
  <div>
  <ul class="social-network">
    <li><a href="https://github.com/wolwerr" target="_blank" class="fa fa-github-square github" title="Github" id="github">
        

      </a></li>
    <li><a href="https://www.instagram.com/wolwer/" class="fa fa-instagram-square instagram" target="_blank" title="Instagram" id="instagram">

      </a></li>
    <li><a href="https://www.linkedin.com/in/ricardolmachado/" class="fa fa-linkedin-square linkedin" target="_blank" title="Linkedin" id="linkedin">

      </a></li>
  </ul>
</div>



</footer>
<div class="copyright" id="copyright" title="copyright">
<span > &copy; 2022 Copyright: </span>
<a  href="#">Ricardo Machado</a>
</div>
